<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bus.chelaile.dao.InsideUdidsMapper" >
    
     
    <select id="listAllInsideUdids" resultType="com.bus.chelaile.model.rule.InsideUdids">
        SELECT type,udid
        FROM APP_INSIDE_UDIDS;
    </select>
       
       
</mapper>